<%= form_for(@mailuser) do |f| %>
  <% if @mailuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailuser.errors.count, "error") %> prohibited this mailuser from being saved:</h2>

      <ul>
      <% @mailuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :empid %><br />
    <%= f.number_field :empid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
