<!DOCTYPE html>
<html>
<head>
	<title>Audit</title>
</head>
<body>


	<!-- Rendering menu  -->
	<%= render :partial => "layouts/menu" %>

	

	<div class="container" , style="height:900px" >	

		<div class="btn btn-default btn-sm pull-right">
			<span class="glyphicon glyphicon-plus"></span>
			<%= link_to 'New' , new_auditinit_path %>
		</div>

		<br /> 
		<br />

		<% @auditinits.each do |auditinit| %>
		<div class="panel panel-primary">

			<div class="panel-heading">
				<%= auditinit.title %>
			</div>

			<div class="panel-body">
				Type : <%= auditinit.a_type %>
				<br />
				Start Date : <%= auditinit.start_date %>
				<br />
				End Date : <%= auditinit.end_date %>
			</div>	
		</div>
		<% end %>
	</div>

</body>
</html>



